/**
 * ////////////////////////////////// global styling /////////////////////////////
 *
 * @format
 */

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primarycolor: #1e4eae;
  --secondarycolor: #179e15;
  --thirdcolor: #a50b0b;
  --forthcolor: #252525;
  --white: #fff;
  --grey: #c2b3c2;
  --link: #1e4e7a;
  --circles: #efefef;
}

.bg {
  background: linear-gradient(
    0deg,
    rgba(125, 112, 128, 1) 0%,
    rgba(188, 181, 189, 0.7943212685464811) 39%,
    rgba(175, 147, 193, 1) 100%
  );
  height: 100%;
}
.container {
  width: 80%;
  margin: auto;
}
/* //////////////////////////////// common styling /////////////////////// */
a {
  font-size: 18px;
  font-weight: 600;
  color: var(--forthcolor);
}

a:hover {
  color: var(--thirdcolor);
}
button a:hover {
  color: var(--white);
}
.title {
  padding: 50px;
  text-align: center;
}
td {
  padding-left: 60px;
  padding-top: 10px;
}
/*////////////////////////////////// navbar /////////////////////////////////////*/

.navbar .container {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
}
.navbar .logo a img:hover {
  transform: scale(1.5);
}
.navbar .logo a img {
  height: 60px;
}
.navbar nav a {
  padding-left: 30px;
  text-decoration: none;
}

.navbar nav {
  width: 650px;
  text-align: right;
  margin-top: 10px;
  /* display: inline-block; */
}
/*////////////////////////////////// hero section /////////////////////////////*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/bg.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
/*////////////////////////////////// services /////////////////////////////*/
.services {
  display: flex;
  justify-content: space-between;
}
.boxUI {
  width: 30%;
  height: 300px;
  background-color: var(--thirdcolor);
  border-radius: 15px;
  margin: 50px 0px;
  padding: 30px;
}

.boxUI h3,
.boxUI p {
  color: var(--white);
  text-align: center;
  padding-top: 5px;
}
.boxUI .image {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#clients .image {
  background-image: url("images/clients.JPG");
}
#clients:hover .image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/clients2.JPG");
}
#transfereMoney .image {
  background-image: url("images/transfereMoney2.JPG");
}
#transfereMoney:hover .image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/transfereMoney.JPG");
}
#transactions .image {
  background-image: url("images/transactions2.JPG");
}
#transactions:hover .image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/transactions.JPG");
}

/*////////////////////////////////// clinets page /////////////////////////////*/
#clientsPage {
  display: none;
}
th,
td {
  background-color: var(--grey);
}

#transactionspage table td {
  background-color: var(--forthcolor);
  color: var(--white);
}
/*////////////////////////////////// transfereMoney page /////////////////////////////*/
#transfereMoneypage {
  display: none;
  width: 50%;
  margin: auto;
} 
#transfereMoneypage form label{
color: var(--forthcolor);

text-align: center;
font-weight: 700;
font-size: 18px;
}
#transfereMoneypage form input{
  color: var(--forthcolor);
  margin-top: 10px;
  text-align: center;
  width: 100%;
  height: 30px;
  }
#form{
  border-radius: 20px;padding: 50px;

}
#submitBtn{
  width: 20px;
}
/*////////////////////////////////// transactions page /////////////////////////////*/
#transactionspage {
  display: none;
}
/*////////////////////////////////// footer /////////////////////////////*/
footer {
  background-color: var(--forthcolor);
  height: 100px;
  margin-top: 80px;
  color: var(--white);
  text-align: center;
}
#transfereConfirmation{
  text-align: center;
  color: var(--white);
  margin-top: 20px;
}